.link-telegram {
  background: rgb(131, 58, 180);
  background: linear-gradient(120deg, #221aff, #1a94ff);
}

.link-facebook {
  background: rgb(131, 58, 180);
  background: linear-gradient(120deg, #1a94ff, #4208ff);
}
